@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url('../../assets/FondoCV.jpg.jpg') center center no-repeat;
  background-size: cover;
  padding: 20px;
  color: white;
  font-family: "Rajdhani", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 75vh;
}

.job-container h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.job-container p {
  font-size: 16px;
  margin: 5px 0;
  list-style: none; /* Eliminar los puntos de la lista */
}

.job-container p:last-child {
  margin-bottom: 0;
}

.buttonExperience {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 75px;
  border-radius: 40%;
  background: linear-gradient(to right, #33333391, #11224093);
  color: white;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.7;
  transition: transform 0.3s;
  text-decoration: none;
}

.buttonExperience:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

ul {
  list-style: none;
}

.job-details{
  background: grey;
  opacity: 0.8;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 20px;
  width: 60%;
}

.navigation-button{
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(to right, #333, #112240);
  color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.active{
  margin: 10px;
  padding: 12px;
  border-radius: 20px;
  background: linear-gradient(to right, #838080, #3378f3);
  color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.imgExperience{
  height: 200px;
}